<div id="header" class="span_4_of_4">
  <h1 id="welcome">What Are You Going To Do?</h1>

<ul>
  <li id="task_index"><a href="/tasks">What You already have to do...</a> </li>
  <li id="new_task"><a href="/tasks/new">New Stuff To Do...</a> </li>
</ul>

</div>

