<div id="header">
  <h1 id="welcome"><a href="/">Welcome to TaskManager</a></h1>
</div>

<ul>
  <li id="task_index"><a href="/tasks">Task Index</a> </li>
  <li id="new_task"><a href="/tasks/new">New Task</a> </li>
</ul>
