<section id="index">
    <h1 id="all_tasks">Current Stuff...</h1>

    <% @tasks.each do |task| %>
        <h3 id="list"><a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
    <% end %>
</section>
