<section id="new_form">
  <form action="/tasks" method="post">
    <h1 id="form_title">Enter a New Task</h1>
    <h3 id="title">Task Title</h3>
    <input type="text" name="task[title]"/><br/>
    <h3 id="description">Description</h3>
    <textarea name="task[description]"></textarea><br/>
    <br/>
    <input type="submit"/>
  </form>
</section>
